extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Susana Marquina
        p Full Stack JavaScript Developer

        .about-bio
          p Hi! I'm <strong>Susana</strong>. Nice to meet you. I am currently developing my skills as a <strong>full-stack software developer</strong> by apprenticing for Intuit. I believe technology can greatly increase the lives of all people so am particularly interested in using my skills to build accessible, inclusive technology to help others. I look forward to connecting with you!

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
        ul
          li 555-555-1234
          li smarq86@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/smarquina/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/smarquina37', target='_blank') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back