extends layout.pug

block content

  article.portfolio-intro

    h1 My Projects
    p Check out some of the projects I've built in my learning journey!

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls}`, alt=`${project.project_name}`)
            h5= project.project_name

